<div class="welcome">
    <h1 class="Heading">Sign-up Forms</h1>
    <p>
        Sign-up forms are an integral part of any website <span class="dot">.</span> Depending on the nature of your business<span class="dot">,</span> sign-up forms can be used for generating leads<span class="dot">,</span>  collecting emails for your newsletter <span class="dot">,</span>  and acquiring new customers <span class="dot">.</span> 
        Use the Menu on the left to Add a record<span class="dot">,</span> Delete a record<span class="dot">,</span> Update a record and can view it in a table <span class="dot">.</span>
    </p>

</div>
